body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}
.video-block {
    position: relative
}

.video-box {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
}

.step {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
}

.step.step-1 {
    position: relative !important;
    top: 0;
    left: 0;
}

.video-block .image-map__content {
    z-index: 8;
}

.messaggio {
    background-color: rgba(128, 0, 128, .62);
    transform: translateX(-50%);
    transition: .48s all ease;
    text-transform: uppercase;
    border-radius: 18px;
    position: absolute;
    visibility: hidden;
    min-width: 400px;
    text-align: center;
    font-size: 44px;
    color: white;
    padding: 14px;
    opacity: 0;
    z-index: 14;
    top: 148px;
    left: 50%;
}

.messaggio.show-nome-pianeta {
    visibility: visible;
    opacity: 1;
}

.video-block .image-map__content__img {
    /*transition: .1s all ease;*/
    visibility: visible;
    opacity: 1;
}

.video-block.showImage .image-map__content__img {
    visibility: hidden;
    opacity: 0;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.68);
    z-index: 9999999;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #383636;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    transform: translate(-50%, 50%);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}